[*.cs]

# CS8618: Non-nullable property 'Def' is uninitialized. Consider declaring the property as nullable.
dotnet_diagnostic.CS8618.severity = suggestion

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = suggestion

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = suggestion

# CA1707: Remove the underscores from member name Hero_Designer.Clshook.Embed_Link.
dotnet_diagnostic.CA1707.severity = suggestion

# CA1303: Method 'Task Clshook.DiscordExport()' passes a literal string as parameter 'caption' of a call to 'DialogResult MessageBox.Show(string text, string caption)'. Retrieve the following string(s) from a resource table instead: "Discord Export".
dotnet_diagnostic.CA1303.severity = suggestion
